/** todo: add variables */

:root {
	--border-color: #c2740f;
	--lighter-border-color: #9f60c9;
	--button-border-color: #8d1dd8;
	--line-border-color: #9f60c9;
}

@font-face {
	font-family: 'punk';
	src: url('/public/css/fonts/Punktype.ttf');
}

@font-face {
	font-family: 'road';
	src: url('/public/css/fonts/TransportMedium.ttf');
}

@font-face {
	font-family: 'arial-rounded';
	src: url('/public/css/fonts/Arial\ Rounded\ MT\ Regular.ttf');
}

@font-face {
	font-family: 'arial-rounded\ bold';
	src: url('/public/css/fonts/Arial\ Rounded\ MT\ Bold.ttf');
}

@font-face {
	font-family: 'Fira Mono';
	src: url('/public/css/fonts/FiraMono\ Medium.ttf');
}

html {
	background: #52137b;
	min-height: 100vh;
	background: linear-gradient(180deg,#9c37df 0%, #512270);
	font-family: Arial,Helvetica,sans-serif;
	color: #eee;
	font-size: 12px;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffa634;
}

a:hover {
	text-decoration: underline;
	color: #ffc63f;
}

h1, h2, h3, h4, h5 {
	font-family: monospace;
}

hr {
	color: var(--line-border-color);
}

@keyframes bgScroll {
	0% {
		background-position : 0px 0px;
	}
	100% {
		background-position : -100% 0px;
	}
}

@keyframes bgScroll2 {
	0% {
		background-position : 0px 0px;
	}
	100% {
		background-position : 100% 0px;
	}
}

#header {
	display:block;
	width:100%;
	height: 30px;
	background-image:url("/public/images/header/navbar_new.jpg");
	animation: bgScroll2 50s linear infinite;
	background-size: contain;
	border-bottom: 5px solid black;
	text-align: center;
}


#submenu {
	display:block;
	width:100%;
	background: #171717;
	border-bottom: 5px solid black;
	text-align: center;
	color: white;
	font-size: 13px;
	position: relative
}

#submenu > #container {
	margin: 0 auto; width: fit-content;
}

#submenu > #container a {
	color:white;
	display: inline-block;
	padding: 3px 10px;
}

#submenu > #container a:hover, #submenu > #container a[selected] {
	color:white;
	background: #333;
	background: linear-gradient(0deg,#222 0%, #444 100%);
	font-weight: bold;
}

#header #links {
	position:relative;
	padding-top: 6px;
}

.header-link {
	color: white;
	padding: 1px 1.5em;
	background: #000000;
	border: 2px solid black;
	font-family: punk;
	font-size: 16px;
}

.header-link:hover, .header-link[selected] {
	text-decoration: underline;
	background: #222;
	background: #333;
	background: linear-gradient(0deg,#222 0%, #444 100%);
	color: white;
}

#header #logo a {
	padding-left: 5px;
	width: 120px;
	height: 30px;
	display: inline-block;
	background: none;
	background: linear-gradient(90deg,#bfb500 0%, #ad8b0fc2 50%, #00000000 100%);
	
}

#header #logo a img {
	height: 30px;
}

#header #logo a:hover img, #header #logo a img:hover {
	background: #fff4;
}

#header #container {
	width: 970px;
	margin: 0 auto;
}

#billboard {
	position: absolute;
	background-image: url('/public/images/header/billboard.png');
	right: 20px;
	top: 26px;
	width:229px;
	height: 145px;
}

#billboard #container {
	position: absolute;
	text-align: left;
	margin: 8px;
	width: 212px;
	height: 99px;
	top: 26px;
}

#billboard hr {
	margin: 0px;margin-bottom: 5px; color: white;
}

#billboard table {
	width: 100%;font-family: road;font-weight: bold;
}

#billboard table a {
	color: white;
	padding: 5px;
	white-space: nowrap;
	overflow:auto;
	text-overflow: ellipsis;
	display: block;
	max-width:60px;
}

#billboard table a:hover {
	border: 1px solid white;
	margin: -1px;
}

#billboard #container #profile td {
	text-align: center;
}

#billboard #container #profile a {
	padding: 0px;
	max-width: unset;
}

#billboard #container #profile a:hover {
	margin: 0px;
	border: 0px;
}

#footer {
	line-height: 1.428;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #ab46ee;
	margin-bottom: 60px;
}

#footer #container {
	width: 510px;
	margin: 0 auto;
}

#footer #container .legalese {
	float:right;
	display: block;
	border-left: 1px solid var(--lighter-border-color);
	padding: 10px;
	margin-top: -10px;
}

#footer #container p {
	margin: 0px;
}

#footer #links {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 10px;
}

#footer #links a {
	font-size: 14px;
	font-family: 'Fira Mono';
	padding: 0px 15px;
	font-weight: bold;
}

#body {
	background: url("/public/images/bkg.png?v=1") top center repeat-x #32043f;
	min-height: calc(100vh - 200px); /* testing */
	animation: bgScroll 50s linear infinite;
	margin-top: 56px;
}

#body #container {
	width: 970px;
	margin: 0px auto;
	padding: 15px 0px;
}

.box, .box.rounded, .box.input {
	border: 2px solid var(--border-color);
	padding: 5px;
	color: white;
	background: #492265;
	background: linear-gradient(0deg,#1a0c23 0%, #492265 100%);
}

.box.input  {
	border-color: var(--button-border-color);
}

.box.rounded {
	border-radius: 8px;
}

.box.input {
	background: #492265;
	background: linear-gradient(180deg,#1a0c23 0%, #492265 100%);
}

.button {
	border: 2px solid var(--button-border-color);
	font-size: 14px;
	padding: 5px 15px;
	font-weight: bold;
	background: #512270;
	background: linear-gradient(180deg,#9c37df 0%, #512270 100%);
	color: white;
	cursor: pointer;
	user-select: none;
}

.button:hover {
	filter: brightness(1.15);
	color: white;
}

.button:active, .button.active, .button[selected] {
	background: #512270;
	background: linear-gradient(0deg,#9c37df 0%, #512270 100%);
	filter: brightness(1.15);
}

.button:disabled {
	filter: brightness(0.8) grayscale();
}

.button:disabled:hover {
	filter: brightness(0.7) grayscale();
}

.button:disabled:active {
	filter: brightness(0.7) grayscale();
	
	background: linear-gradient(180deg,#9c37df 0%, #512270 100%);
}

.error-text {
	color: red;
	font-weight: bold;
	margin-bottom: 5px;
	font-style: italic;
}

.success-text {
	color: #f253ff;
	font-weight: bold;
	margin-bottom: 5px;
	font-style: italic;
}

#pager {
	padding: 15px;
	text-align: center;
}

#pager hr {
	margin: -15px;
	margin-bottom: 15px;
	margin-top: -10px;
}

#pager .box.input {
	padding: 2px;
	width: 21px;
	border-width: 2px;
	text-align: center;
}

.page-title, .page-slogan {
	margin: 0px;
	margin-left: 5px;
	margin-bottom: -7px;
	background: black;
	width: fit-content;
	padding: 10px;
	padding-top: 5px;
	padding-right: 15px;
}

.page-slogan {
	margin-left: 1px
}

*[template] {
	display: none !important;
}

ul.special {
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

ul.special li[data-filter], 
ul.special li[data-category] {
	margin: 5px;
	text-align: center;
	font-size: 13px;
}
ul.special li[data-filter][selected], 
ul.special li[data-category][selected] {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
	filter:brightness(1.5);
	background: linear-gradient(0deg,#9c37df 0%, #512270 100%);
	letter-spacing: 2px;
}

ul.special li[data-filter]:hover,
ul.special li[data-category]:hover {
	text-decoration: underline;
}

ul.special li[data-filter] span,
ul.special li[data-category] span {
	width: 160px;
	text-align: left;
	display: block;
	margin: 0 auto;
}

ul.special li[data-filter] span img, 
ul.special li[data-category] span img {
	position: absolute;
	left: 7px;
}

#filters-heading, #filter-name {
	margin-top: 6px;
	margin-bottom: 4px;
	letter-spacing: 6px;
	font-size: 15px;
	margin-left: 10px;
}

#filter-name {
	letter-spacing: 8px;
	font-size: 18px;
	margin-left: 6px;
}

.status {
	font-size: 18px;
	text-align: center;
	margin: 30px auto;
	display: none;
}

.multi-titles {
	display: flex;
}

.multi-titles > div {
	flex: 1;z-index: 1;
}

.multi-titles .page-title {
	padding-bottom: 3px;
	margin-bottom: 0px;
}

ul.horizontal  {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	margin: auto;
}

ul.horizontal li {
	float: left;
	padding: 5px;
}

[alert] {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		border-color: red;
	}
}

.cog img {
	margin-bottom: -3px;
	transition: transform 0.4s;
}

.cog[active] img {
	transform: rotate(90deg)
}

.cog[active] {
	background: linear-gradient(0deg,#9c37df 0%, #512270 100%);
}

.cog-dropdown {
	position: relative;
}

.cog-dropdown ul {
	display:none;
	position: absolute;
	list-style: none;
	text-align: left;
	width: 130px;
	min-width:fit-content;
	background: magenta;
	margin: 0px;
	padding: 0px;
	z-index: 10;
	border: 2px solid var(--border-color);
	left: 49px;
	top: 0px;
}

.cog-dropdown li {
	padding: 5px;
	user-select: none;
	background: linear-gradient(0deg,#1a0c23 0%, #492265 100%);
	border-top: 1px solid var(--border-color);
	cursor: pointer;
}

.cog-dropdown li span.title {
	display: inline;
} 

.cog-dropdown li span {
	display: none;
}

.cog-dropdown li:hover span {
	display: inline;
}

.cog-dropdown li:first-child {
	border-top: none;
}


.cog-dropdown li:active {
	background: linear-gradient(180deg,#1a0c23 0%, #492265 100%);
}

.cog-dropdown li:hover {
	filter: brightness(1.5)
}