#games-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.game {
	text-align: center;
	padding: 10px;
	user-select: none;
}

.game #name {
	font-size: 13px;
	font-weight: bold;
	width: 181px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.game img {
	width: 180px;
	height:101px;
}

.game img[loading], .game img[data-src] {
	object-fit: contain;
}

.game:hover {
	border: 2px solid var(--border-color);
	margin: -2px;
	background: linear-gradient(180deg,#1a0c23 0%, #492265 100%);
	margin-bottom: -31px;
	z-index: 9999;
}

.game #info {
	display: none;
}

.game:hover #info {
	display: block;
}

.game #currently-playing {
	color: #d269e7;
	letter-spacing: 1px;
	
}

.game #currently-playing[active] {
	font-weight: bold;
}

.game #info #visit-count {
	font-style: italic;
	color: #d3a5e7;
}

.game #info #creator {
	font-weight: bold;
	font-size: 13px;
}