.thumbnail-holder button {
	background: none;
	background-image: url("/public/images/thumbnails/viewer/3D.png");
	background-position: -10px -10px;
	width: 48px;
	height: 48px;
	border: none;
	position: absolute;
	right: 0px;
	cursor: pointer;
}

.thumbnail-holder button:hover {
	background-image: url("/public/images/thumbnails/viewer/3DHover.png");
}

.thumbnail-holder button[data-3d="true"] {
	background-image: url("/public/images/thumbnails/viewer/2D.png");
}

.thumbnail-holder button[data-3d="true"]:hover {
	background-image: url("/public/images/thumbnails/viewer/2DHover.png");
}

.thumbnail-holder {
	margin: 0 auto;
	position: relative
}

.thumbnail-span {
	width: 100%;
	height: 100%;
	display: none;
	margin: 0 auto;
}

.thumbnail-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}